.App {
  text-align: center;
}

.dog{height: 400px;}
.color-red {
  background-color: #D90416;

}

/*Carousel*/
@media screen and (max-width: 767px) {
  
}

.home-title {
  font-weight: bolder;
  color:#D90416;
  font-size: 1.6em;
  
  
}

/*Header*/
.logo {
 width: 18em;
}


@media screen and (max-width: 768px) {
  .logo {
    width: 13em;
  }
  .dog{
    height: 200px;
  }
}

/*BookCard*/
.book-div h5 {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}


.cursor{
  cursor: pointer;
}


